.error{
    color: red;
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}
.login{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  border:none;
  padding: 0; /* Enlevez tout padding potentiel */
  box-shadow: none; /* Supprimez aussi toute ombre */
}

.form-card{
  border: none;
}

mat-card-actions {
  display: flex;
  justify-content: center; /* Centre le bouton dans les actions */
}

@media (max-width: 500px) {
  .login {
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
