<ng-container *ngIf="!isMobile">
  <section class="header">
    <div class="header-logo" *ngIf="showHeaderLogo">
      <a mat-button routerLink=''>
        <img src="assets/logo_p6.png" alt="logo" class="image"/>
      </a>
    </div>
    <div class="example-button-row" *ngIf="showHeaderLinks">
      <a mat-button routerLink="feed">Articles</a>
      <a mat-button routerLink="topics">Thèmes</a>
      <a mat-button routerLink="account"><mat-icon aria-hidden="false"
      aria-label="User Account" fontIcon="account_circle"></mat-icon></a>
    </div>
  </section>
  <hr *ngIf="showVerticalLine">
</ng-container>
<!-- Mobile version of Header-->
<div class="mobile-header" *ngIf="isMobile">
  <ng-container *ngIf="showHeaderMobileContent">
<!--    </div>-->
    <mat-drawer-container class="example-container" autosize>
      <div class="header-sidenav">
      <div class="header-logo">
        <a mat-button routerLink=''>
        <img src="assets/logo_p6.png" alt="logo" class="logo-mobile"/>
        </a>
      </div>
      <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon aria-hidden="false" aria-label="User Account" fontIcon="menu"></mat-icon>
        </button>
      </div>
      </div>
      <mat-drawer #drawer class="sidenav" mode="side" position="end">
        <a mat-button routerLink="feed" class="article-link">Articles</a>
        <a mat-button routerLink="topics" class="theme-link">Thèmes</a>
        <a mat-button routerLink="account" class="account-link"><mat-icon aria-hidden="false" aria-label="User Account" fontIcon="account_circle"></mat-icon></a>
      </mat-drawer>
    </mat-drawer-container>


  </ng-container>
</div>
<hr *ngIf="isMobile">


