
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  font-size: 15px;

    .header-logo {
      width: 5%;

      .image {
        width: 60px;
        height: 10%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    }
}

.container {
  display: flex;
  justify-content: flex-end; /* Aligns the accordion to the right side */
  align-items: flex-start; /* Aligns the accordion to the top */
  height: 100vh; /* Full height of the viewport */
  padding-right: 20px; /* Optional: adds space between the accordion and the right edge */
}


.user-picto{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-mobile{
  width: 5em;
}
.header-sidenav{
  display: flex;
  justify-content: space-between;
}

.sidenav{
  display: flex;
  flex-direction: column;
}
