<div class="account">
  <mat-card class="account-card">
    <mat-card-header>
      <mat-card-title>Profil utilisateur</mat-card-title>
    </mat-card-header>
    <form class="account-form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content class="account-mat-card-content">
        <mat-form-field appearance="outline">
          <mat-label>{{username}}</mat-label>
          <input matInput formControlName="username">
          <mat-error *ngIf="form.get('username')?.hasError('required')">Merci de saisir un nom d'utilisateur</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{email}}</mat-label>
          <input matInput  formControlName="email">
          <mat-error *ngIf="form.get('email')?.hasError('required')">Merci de saisir une adresse mail</mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('email')">Merci de saisir une adresse mail au format: patrice@example.com </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput  formControlName="password">
          <mat-error *ngIf="form.get('password')?.hasError('required')">Merci de saisir un mot de passe</mat-error>
          <mat-error class="error-length" *ngIf="form.get('password')?.hasError('minlength') ||
       form.get('password')?.hasError('pattern')">
            Merci de saisir  un mot de passe  contenant au moins 8 caractères, une majuscule, une minuscule et un caractère spécial</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button color="primary" type="submit" [disabled]="!isAnyFieldValid()">Sauvegarder</button>
    </form>
  </mat-card>
  <button mat-button color="warn" (click)="logout()">Se déconnecter</button>
</div>
<hr>
<div class="account-parent-container">
  <h2>Abonnement</h2>
  <div class="account-topic-container">
    <mat-card *ngFor=" let topic of topicsSubscribed$ | async" class="account-my-topics">
      <mat-card-title>{{topic.name}}</mat-card-title>
      <mat-card-content>
        <p>{{topic.description}}</p>
      </mat-card-content>
      <mat-card-actions class="account-subscribe-btn">
        <button mat-raised-button color="primary" (click)="unsubscribe(topic.id)">Se désabonner</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
