<div class="account">
  <mat-card>
    <a routerLink='' target="_blank">
      <mat-icon aria-hidden="false" aria-label="Arrow Back" fontIcon="arrow_back"></mat-icon>
    </a>
    <mat-card-header>
      <mat-card-title>Profil utilisateur</mat-card-title>
    </mat-card-header>
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content>
        <h3>Username</h3>
        <mat-form-field appearance="outline">
          <input matInput [placeholder]="username" formControlName="username">
          <mat-error *ngIf="form.get('username')?.hasError('required')">Merci de saisir un nom d'utilisateur</mat-error>
        </mat-form-field>
        <h3>Email</h3>
        <mat-form-field appearance="outline">
          <input matInput [placeholder]="email" formControlName="email">
          <mat-error *ngIf="form.get('email')?.hasError('required')">Merci de saisir une adresse mail</mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('email')">Merci de saisir une adresse mail au format: patrice@example.com </mat-error>
        </mat-form-field>
        <h3>Password</h3>
        <mat-form-field appearance="outline">
          <input matInput  formControlName="password">
          <mat-error *ngIf="form.get('password')?.hasError('required')">Merci de saisir un mot de passe</mat-error>
          <mat-error class="error-length" *ngIf="form.get('password')?.hasError('minlength') ||
       form.get('password')?.hasError('pattern')">
            Merci de saisir  un mot de passe  contenant au moins 8 caractères, une majuscule, une minuscule et un caractère spécial</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Sauvegarder</button>
    </form>
  </mat-card>
  <button mat-button color="warn" (click)="logout()">Se déconnecter</button>
</div>
<hr>
  <mat-card *ngFor=" let topic of topicsSubscribed$ | async" class="card">
    <mat-card-title>{{topic.name}}</mat-card-title>
    <mat-card-content>
      <p>{{topic.description}}</p>
    </mat-card-content>
    <mat-card-actions class="subscribe-btn">
      <button mat-raised-button color="primary" (click)="unsubscribe(topic.id)">Se désabonner</button>
    </mat-card-actions>
  </mat-card>
