@import "~src/styles/variables";
.register {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error{
  color: $red-color;
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}
.title {
  text-align: center; /* Centre le texte du titre */
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;/* Centre le bouton horizontalement */
  margin-top: 16px;
  text-align: center/* Ajoute de l'espace au-dessus du bouton */
}

.register-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-card{
  box-shadow: none;
  margin-top: 2%;
}

@media(max-width: 800px) {
  .register {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}

