@import "~src/styles/variables.scss";
.row{
  display: flex;
  justify-content: space-around;
}

.comment{
  display: flex;
  justify-content: center;
  align-items: center;

}
.comment-data{
  display: flex;
}
.comment-content{
  background-color: $grey-color;
  border-radius: 15px;
  margin-left: 30%;
  width: 80%;
  padding: 1%;
}
.detail-post-container{
  width: 70%;
}
.detail-post-under-content{
  margin-left: 30%;
}

.iconClass{
  color: $purple-color;
}
.authorUsername{
  margin-left: 3%;
  width: 20%;
}
.input-field{
  width: 70%;
}

.detail-post-title{
  display: flex;
  align-items: center;
}
.post-title{
  margin-left: 3%;
}
.icon-style{
  color: $black-color;
}

.detail-post-card-content{
  box-shadow: none;
}
.card-container{
  box-shadow: none!important;
}

.icon-send{
  width: 2em;
}

@media (max-width: 800px) {

  .detail-post-container{
    width: 100%;
  }
  .detail-post-under-content{
    margin: 0;
  }
  .card-container{
    margin-bottom: 10%;
  }
  .comment-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .comment-data{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column-reverse;
  }

  .comment {
    display: flex;
    align-items: stretch; /* Assure que chaque enfant occupe toute la largeur */
    width: 100%;
  }

  .input-field {
    width: 100%; /* Prend toute la largeur du parent */
  }

  .send-button {
    z-index: 1;
  }

  .comment-content{
    background-color: #ffffff;
  }
  .post-header-data{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .row{
    display: flex;
    flex-direction: column;
  }

  }
