<div class="detail-post-container">
<div class="detail-post-under-content">
<div *ngIf="post$ | async as post">
<mat-card class="card-container">
    <div class="detail-post-title">
      <a routerLink='/posts/feed'>
        <mat-icon aria-hidden="false" aria-label="Arrow Back" fontIcon="arrow_back" class="icon-style"></mat-icon>
      </a>
      <mat-card-title class="post-title">{{post.title}} </mat-card-title>
    </div>
  <mat-card-content>
    <div class="row">
      <p>{{post.date | date: 'dd-MM-yyyy' }}</p>
      <p>{{post.topicTitle}}</p>
      <p>{{post.authorUsername}}</p>
    </div>
    <p>{{post.content}}</p>
  </mat-card-content>
</mat-card>
<hr>
<div class="comment-container">
  <h2>Commentaires</h2>
  <div *ngFor="let comment of comments$ | async" class="comment-data">
      <span class="authorUsername">{{comment.authorUsername}}</span>
      <blockquote class="comment-content">{{comment.content}}</blockquote>
  </div>
  <form class="comment" [formGroup]="form" (ngSubmit)="submit(post.id)">
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Écrivez votre commentaire</mat-label>
      <textarea matInput formControlName="comment"required></textarea>
      <mat-error *ngIf="form.get('comment')?.hasError('required')">Merci de saisir un contenu pour votre commentaire</mat-error>
    </mat-form-field>
    <button mat-flat-button type="submit" class="send-button">
      <mat-icon aria-hidden="false" aria-label="Send" fontIcon="send" class="iconClass"></mat-icon>
    </button>
  </form>
</div>
</div>
</div>
</div>
