
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    font-size: 15px;

  .image{
    width: 10%;
    height: 10%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
.right-btn{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  transform: rotate(90deg);
}

.left-btn {
  display: flex;
  justify-content: flex-end;
  transform: rotate(90deg);
}
.header-btn{
  display: flex;
  justify-content: space-between;
}

.mat-accordion {
  display: flex;
  flex-direction: column; /* Ensure panels are stacked vertically */
  width: 300px; /* Adjust as needed */
}
.menu-button {
  display: flex;
  justify-content: flex-end;
}

.container {
  display: flex;
  justify-content: flex-end; /* Aligns the accordion to the right side */
  align-items: flex-start; /* Aligns the accordion to the top */
  height: 100vh; /* Full height of the viewport */
  padding-right: 20px; /* Optional: adds space between the accordion and the right edge */
}

.example-container{
//display: flex;
//justify-content: flex-end;
//align-items: flex-end;
}
.example-sidenav{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.user-picto{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
