@import "~src/styles/variables.scss";
/* app.component.css */

/* Full height for sidenav container */
.sidenav-container {
  height: 100vh;
  background-color: $white-color;
}

.sidenav {
  width: 250px;
}





/* Content styling */
.content {
  padding: 20px;
}



