<ng-container *ngIf="!hideHeader">
<section class="header" *ngIf="userConnected">
  <a routerLink=''>
    <img src="/assets/logo_p6.png" alt="logo" class="image"/>
  </a>
  <div class="example-button-row" *ngIf="showButtons">
    <a mat-button routerLink="feed">Articles</a>
    <a mat-button routerLink="topics">Thèmes</a>
    <a mat-button routerLink="account">
      <mat-icon aria-hidden="false" aria-label="User Account" fontIcon="account_circle"></mat-icon>
    </a>
  </div>
</section>
</ng-container>

<!-- Mobile version of Header-->
<!--<div class="menu-button">-->
<!--  <button mat-button (click)="toggleOpening()">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
<!--</div>-->
<!--<mat-accordion multi >-->
<!--  <mat-expansion-panel>-->
<!--    <div class="header-btn">-->
<!--      <div class="left-btn">-->
<!--        <a mat-button routerLink="account">-->
<!--          <mat-icon aria-hidden="false" aria-label="User Account" fontIcon="account_circle"></mat-icon>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="right-btn">-->
<!--        <a mat-button routerLink="topics">Thèmes</a>-->
<!--        <a mat-button routerLink="feed">Articles</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    </mat-expansion-panel>-->
<!--</mat-accordion>-->
<router-outlet></router-outlet>


