<ng-container *ngIf="!hideHeader">
<section class="header" *ngIf="userConnected">
  <a routerLink=''>
    <img src="/assets/logo_p6.png" alt="logo" class="image"/>
  </a>
  <div class="example-button-row" *ngIf="showButtons">
    <a mat-button routerLink="feed">Articles</a>
    <a mat-button routerLink="topics">Thèmes</a>
    <a mat-button routerLink="account">
      <mat-icon aria-hidden="false" aria-label="User Account" fontIcon="account_circle"></mat-icon>
    </a>
  </div>
</section>
</ng-container>
<router-outlet></router-outlet>
