/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Media query pour les écrans de taille <= 500px */
@media (max-width: 500px) {
  .logo {
    display: block;
    width: 30em; /* Ajuste la taille selon tes besoins */
    margin-bottom: 10%;
  }

  .logo-header{
    position: absolute;
    right: 27%;
    margin-top: 1%;
    width: 200px;
    margin-top: 10%;
  }
}

.card-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
