/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Inter;
; }

/* Media query pour les écrans de taille <= 500px */
@media (max-width: 800px) {
  .logo {
    display: block;
    width: 30em; /* Ajuste la taille selon tes besoins */
    margin-bottom: 10%;
  }

  .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .logo-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20em;
  }
}

.card-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  box-shadow: none;
}

.auth-header{
  font-size: 24px;
  font-weight: 400;
}

.sidenav{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#drawer-container {
  display: flex !important;
  position: static !important;
  width: 100%// ou 'absolute' si nécessaire
}

