<a routerLink='/feed' target="_blank">
  <mat-icon aria-hidden="false" aria-label="Arrow Back" fontIcon="arrow_back"></mat-icon>
</a>
<div *ngIf="post$ | async as post">
<mat-card class="card-container">
  <mat-card-title>{{post.title}}</mat-card-title>
  <mat-card-content>
    <div class="row">
      <p>{{post.date | date: 'dd-MM-yyyy' }}</p>
      <p>{{post.authorUsername}}</p>
    </div>
    <p>{{post.content}}</p>
  </mat-card-content>
</mat-card>
<hr>
<div class="comment-container">
  <h2>Commentaires</h2>
  <div *ngFor="let comment of comments$ | async" class="comment">
      <span>{{comment.authorUsername}}</span>
      <blockquote class="comment-content">{{comment.content}}</blockquote>
  </div>
  <form class="comment" [formGroup]="form" (ngSubmit)="submit(post.id)">
    <mat-form-field appearance="outline">
      <mat-label>contenu du commentaire</mat-label>
      <textarea matInput formControlName="comment" required></textarea>
      <mat-error *ngIf="form.get('comment')?.hasError('required')">Merci de saisir un contenu pour votre commentaire</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      <mat-icon aria-hidden="false" aria-label="Send" fontIcon="send"></mat-icon>
    </button>
  </form>
</div>
</div>
